/* Characters.css */
.characters-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #393f4d; /* Cor de fundo do tema Hunter x Hunter */
    padding: 20px;
    color: #ffffff; /* Cor do texto */
  }
  
  .characters-container2 h1 {
    font-size: 32px;
    color: #ffa400; /* Cor do título */
    margin-bottom: 20px;
  }
  
  .characters-container2 p {
    margin: 10px 0;
  }
  
  .characters-container2 a {
    font-size: 24px;
    color: #ffffff; /* Cor dos links */
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  .characters-container2 a:hover {
    color: #ffa400; /* Cor dos links quando hover */
  }
  