/* Home.css */
.home-container {
  background-color: #000;
  color: #fff;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.hero-section {
  background-image: url('../assets/DarkContinent.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 100px 0;
}

.hero-section h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero-section p {
  font-size: 18px;
  line-height: 1.5;
}

.about-section {
  padding: 40px 0;
  text-align: center;
}

.about-section h2 {
  font-size: 24px;
  color: #B8244B;
  margin-bottom: 20px;
}

.about-section p {
  font-size: 18px;
  line-height: 1.6;
}

.characters-section {
  padding: 40px 0;
  text-align: center;
}

.characters-section h2 {
  font-size: 24px;
  color: #B8244B;
  margin-bottom: 20px;
}

.characters-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.characters-container a {
  text-decoration: none;
  color: #fff;
  transition: transform 0.3s ease;
}

.characters-container a:hover {
  transform: scale(1.05);
}

.characters-container img {
  max-width: 200px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.characters-container img:hover {
  transform: scale(1.1);
}

.watch-section {
  display: flex;
  flex-direction: column;
  background-color: #B8244B;
  padding: 40px 0;
  text-align: center;
}

.watch-section h2 {
  font-size: 24px;
  color: #fff;
  margin-bottom: 20px;
}

.watch-button {
  background-color: #FDAB4D;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  width: 150px;
  text-align: center;
  margin: auto;
  margin-top: 15px;
}

.watch-button:hover {
  background-color: #AD945D;
}

/* Adicione esta seção no seu arquivo Home.css */
.phantom-troupe {
  background-color: #000;
  color: #fff;
  padding: 40px 0;
  text-align: center;
}

.phantom-troupe h2 {
  font-size: 24px;
  color: #B8244B;
  margin-bottom: 20px;
}

.phantom-troupe p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.phantom-troupe span {
  color: #FDAB4D; /* Cor especial para destacar o texto */
  font-weight: bold;
}

.phantom-troupe img {
  background-size: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
  margin-top: 20px;
}

.phantom-troupe img:hover {
  transform: scale(1.1);
}


/* No seu arquivo Home.css, adicione estilos para o botão ao lado da imagem */
.image-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-button {
  background-color: #FDAB4D;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  cursor: pointer;
  border: none;
}

.image-button:hover {
  background-color: #AD945D;
}
